@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

p{
  text-align: left;

}

.mat-tab-label{
  font-size: xx-large;
  color: lightsalmon;
  font-weight: bolder;

}

.mat-tab-group {
  background-color: floralwhite;
}

.mat-expansion-panel-header-title{
  font-weight: bold;
  font-size: large;
  color: green;
}


